/* stylelint-disable*/
/* CSS files add styling rules to your content */
/* RESET */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* VARS */

/* VARS */
:root {
  /* BASES*/
  --base-border: 1px;
  --base-radius: 4px;
  --base-size: 50px;
  --base-space: 4px;
  --base-fz: 16px;
  --base-transition: .1;
  --base-transform: 1.2;

  /*TRANSFORM*/
  --transform-s: var(--base-transform);

  /*TRANSITION*/
  --transition-l: calc(var(--base-transition) + .1);
  --transition-s: var(--base-transition);

  /*FONT*/
  --font-family: helvetica, arial, sans-serif;
  --font-s: var(--base-fz);
  --font-xs: calc(var(--base-fz) / 1.5);

  /*SIZES*/
  --boder-s: var(--base-border);
  --boder-xs: calc(var(--base-border) / 2);

  --radius-s: var(--base-radius);

  --size-xxxl: calc(var(--size-s) * 5);
  --size-xxl: calc(var(--size-s) * 4);
  --size-xl: calc(var(--size-s) * 3);
  --size-l: calc(var(--size-s) * 2);
  --size-s: var(--base-size);
  --size-xs: calc(var(--base-size) / 2);

  --space-xxl: calc(var(--space-s) * 8);
  --space-xl: calc(var(--space-s) * 4);
  --space-l: calc(var(--space-s) * 2);
  --space-s: var(--base-space);
  --space-xs: calc(var(--space-s) / 2);

  /*COLORS*/
  --c-gradient-base: 10%;
  --c-gradient-2: calc(var(--c-gradient-base) * 2);
  --c-gradient-3: calc(var(--c-gradient-base) * 3);
  --c-gradient-4: calc(var(--c-gradient-base) * 4);

  --c-primary: hsl(0, 0%, 100%);
  --c-primary-d-3: hsl(0, 0%, calc( 100% - var(--c-gradient-3)));

  --c-secondary: hsl(212, 48%, 48%);
}


.ai_center {align-items: center;}
.as_center {align-self: center;}
.as_end {align-self: end;}

.b-none {bottom: 0;}

.bd-primary-d-3-s {border: var(--boder-s) solid var(--c-primary-d-3);}

.bdb-primary-d-3-s {border-bottom: var(--boder-s) solid var(--c-primary-d-3);}

.bdrs-s {border-radius: var(--radius-s);}
.bdrs-circle {border-radius: 50%;}

.bgc-secondary{background-color: var(--c-secondary);}

.bxsh-paper {
  box-shadow: 
  0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0 rgba(0,0,0,0.12),
  0 3px 1px -2px rgba(0,0,0,0.2);
}

.c-primary {color: var(--c-primary);}
.c-primary-d-3 {color: var(--c-primary-d-3);}
.c-primary-d-4 {color: var(--c-primary-d-4);}
.c-secondary {color: var(--c-secondary);}

.d_flex {display: flex;}
.d_grid {display: grid;}
.d_block {display: block;}

.cur_pointer {cursor: pointer;}

.fill-primary-d-3 {fill: var(--c-primary-d-3);}

.fxd_column {flex-direction: column;}

.fxg_2 {flex-grow: 2;}

.fz-s { font-size: var(--font-s);}
.fz-xs { font-size: var(--font-xs);}


.ga_header { grid-area: header; }
.ga_content { grid-area: content; }
.ga_footer { grid-area: footer; }
.ga_infoPodcast {grid-area: infoPodcast;}
.ga_headerPodcast {grid-area: headerPodcast;}
.ga_episodiesPodcast {grid-area: episodiesPodcast;}
.gcg-xl {grid-column-gap: var(--size-xl);}
.gcg-l {grid-column-gap: var(--size-l);}
.gcg-s {grid-column-gap: var(--size-s);}
/*https://www.digitalocean.com/community/tutorials/css-css-grid-holy-grail-layout*/
.gta-holy-layout {
  grid-template-areas:
    "header"
    "content"
    "footer";
}
.gta-detailPodcast {
  grid-template-areas:
    "infoPodcast headerPodcast"
    "infoPodcast episodiesPodcast";
}

.gtc-holy-layout { grid-template-columns: 1fr;}
.gtc-detailPodcast {grid-template-columns: 25% 1fr;}
.gtc_3 {grid-template-columns: repeat(3, 1fr);}
.gtr-holy-layout, .gta-detailPodcast { grid-template-rows: auto 1fr;}
.gg-holy-layout { grid-gap: var(--space-none);}

.h-full {height: 100%;}
.h-xxxl {height: var(--size-xxxl);}
.h-xxl {height: var(--size-xxl);}
.h-xl {height: var(--size-xl);}
.h-l {height: var(--size-l);}
.h-s {height: var(--size-s);}
.h-xs {height: var(--size-xs);}
.h_100vh {height: 100vh;}

.jc_flex-end {justify-content: flex-end;}
.jc_center {justify-content: center;}

.ji_center {justify-items: center;}

.l-none {left: 0;}

.maw_980 {max-width: 980px;}

.m_auto {margin: auto;}
.m-center {margin: 0 auto;}
.m-none {margin: 0;}

.mb-xl {margin-bottom: var(--space-xl);}
.mb-l {margin-bottom: var(--space-l);}
.mb-s {margin-bottom: var(--space-s);}

.ml-l {margin-left: var(--space-l);}
.ml-s {margin-left: var(--space-s);}

.mt-xl {margin-top: var(--space-xl);}
.mt-l {margin-top: var(--space-l);}
.mt-s {margin-top: var(--space-s);}
.ml-xs {margin-left: var(--space-xs);}

.ov_hidden {overflow: hidden;}

.p-l {padding: var(--space-l);}
.p-s {padding: var(--space-s);}
.p-xl {padding: var(--space-xl);}
.pb-xl {padding-bottom: var(--space-xl);}
.pb-s {padding-bottom: var(--space-s);}
.pl-s {padding-left: var(--space-s);}
.pl-xl {padding-left: var(--space-xl);}
.pr-s {padding-right: var(--space-s);}
.pr-xl {padding-right: var(--space-xl);}
.pt-xl {padding-top: var(--space-xl);}
.pt-s {padding-top: var(--space-s);}

.pos_relative {position: relative;}
.pos_absolute {position: absolute;}

.r-none {right: 0;}

.t-l {top: var(--size-l);}
.t-s {top: var(--size-s);}
.t-xs {top: var(--size-xs);}
.t-none {top: 0;}

.ta_center {text-align: center;}
.ta_left {text-align: left;}

.tov_ellipsis {text-overflow: ellipsis;}

.trf_scale-s {transform: scale(var(--transform-s));}
.hover--trf_scale-s:hover {transform: scale(var(--transform-s));}

.trs_transform-l {transition: transform var(--transition-l);}

.td_none {text-decoration: none;}

.w-full {width: 100%;}
.w-xxl {width: var(--size-xxl);}
.w-xl {width: var(--size-xl);}
.w-l {width: var(--size-l);}
.w-two-third {width: 66%;}
.w-third {width: 33%;}

.whs-nowrap {white-space: nowrap;}

/* HELPERS */

.debug {border: 1px solid red;}
.hover--bd-debug:hover {border: 1px solid red;}
